USE [pharmacy]
GO
/****** Object:  Table [dbo].[medic]    Script Date: 30.04.2021 14:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mid] [varchar](250) NOT NULL,
	[mname] [varchar](250) NOT NULL,
	[mnumber] [varchar](250) NOT NULL,
	[mDate] [varchar](8000) NOT NULL,
	[eDate] [varchar](8000) NOT NULL,
	[quantity] [varchar](max) NOT NULL,
	[perUnit] [varchar](max) NOT NULL,
 CONSTRAINT [PK__medic__3213E83FBF261E9E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 30.04.2021 14:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userRole] [varchar](50) NOT NULL,
	[name] [varchar](250) NOT NULL,
	[dob] [varchar](250) NOT NULL,
	[mobile] [varchar](25) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[username] [varchar](250) NOT NULL,
	[pass] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[medic] ON 

INSERT [dbo].[medic] ([id], [mid], [mname], [mnumber], [mDate], [eDate], [quantity], [perUnit]) VALUES (1, N'4', N'Aspirin', N'7', N'29.04.2021', N'12.06.2024', N'482', N'29')
INSERT [dbo].[medic] ([id], [mid], [mname], [mnumber], [mDate], [eDate], [quantity], [perUnit]) VALUES (3, N'12', N'xyz', N'45', N'2021-04-29', N'2024-06-05', N'377', N'30')
INSERT [dbo].[medic] ([id], [mid], [mname], [mnumber], [mDate], [eDate], [quantity], [perUnit]) VALUES (5, N'5', N'Apranax', N'3', N'2021-04-29', N'2021-05-13', N'400', N'18')
SET IDENTITY_INSERT [dbo].[medic] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [userRole], [name], [dob], [mobile], [email], [username], [pass]) VALUES (1, N'Administrator', N'Gülin', N'15 Şubat 2000 Salı', N'123456', N'gulin7@hotmail.com', N'gnnnn', N'pass')
INSERT [dbo].[users] ([id], [userRole], [name], [dob], [mobile], [email], [username], [pass]) VALUES (2, N'Administrator', N'Rabia ', N'11 Ekim 2000 Çarşamba', N'05447896754', N'rcevik7@hotmail.com', N'rabiacevikk', N'pass')
INSERT [dbo].[users] ([id], [userRole], [name], [dob], [mobile], [email], [username], [pass]) VALUES (3, N'Administrator', N'Dürdane', N'18 Temmuz 1975 Cuma', N'537', N'dd34@hotmail.com', N'd7', N'pass')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5729203DB18]    Script Date: 30.04.2021 14:52:08 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
